[build]
builder = "DOCKERFILE"
dockerfilePath = "backend/services/user-service/Dockerfile"
buildContext = "backend"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
